body {
  background-color: rgb(197, 189, 184); 
}
table {
  margin: 0 auto;
  border-collapse: collapse; 
}
table td {
  width: 17px;
  height: 17px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(78, 76, 74);
  cursor: pointer;
}
table td.active {
  background-color: rgb(0, 0, 0);
}
table.active td.active {
  background-color: rgb(252, 252, 252);
}
table.active td {
  background-color: rgb(0, 0, 0);
}