@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../Fonts/Roboto.woff2') format('woff2'), url('../Fonts/Roboto.woff') format('woff'), url('../Fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../Fonts/Robotobold.woff2') format('woff2'), url('../Fonts/Robotobold.woff') format('woff'), url('../Fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}
.header-info {
  background-color: #f0f1f3;
}
.container {
  width: 1021px;
  margin: 0 auto;
}
.container-flex {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}
.header-info-phone {
  font-family: 'Roboto', sans-serif;
  color:  #424242;
  font-size: 15px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-right: 20px;
  border-right: 1px solid rgb(219, 217, 217);
}
.header-info-phone:before {
  content: "\f3cd";
  font-family:  "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  padding-right: 6px;
  position: relative;
  top: 3px;
}
.header-info-email:before {
  content: "\f0e0";
  font-family:  "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.header-info-email {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  color:  #424242;
  font-size: 15px;
}
.header-info-fb {
  margin-left: 12px;
  font-size: 30px;
  position: relative;
  top: -1px;
}
.header-info-fb a {
color: rgb(18, 135, 191);
}
.header-nav {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-logo {
  display: flex;
  align-items: center;
}
.header-nav-logo-text {
  margin-left: 14px;
}
.header-nav-logo-name {
  font-family: 'Roboto', sans-serif;
  color:  #424242;
  font-size: 37px;
  font-weight: 700;
  position: relative;
  top: -3px;
  left: -2px;
}
.header-nav-logo-slogan {
  font-family: 'Roboto', sans-serif;
  color:  #424242;
  font-size: 15px;
  position: relative;
  left: 1px;
  top: -1px;
}
.header-nav-menu {
  display: inline-block;
}
.header-nav-menu-link {
  font-family: 'Roboto', sans-serif;
  color:  #424242;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
}
.menu-link-marker {
  font-size: 20px;
  margin-left: 13px;
  margin-right: 13px;
  color:  #424242;
}
.header-nav-menu-link:hover, .header-nav-menu-link.active {
  color: #de2b24;
  transition: 0.4s;
}
.header-nav-btn {
  width: 171px;
  height: 36px;
  border-radius: 4px;
  background-color:  #de2b24;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 31px;
  position: relative;
  top: -1px;
}
.header-banner {
  background-image: url('../Images/header-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.header-banner {
  margin-top: 37px;
  padding-top: 170px;
}
.header-banner-mission-big {
  font-family:  'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.header-banner-mission-small {
  margin-top: 5px;
  font-family:  'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 30px;
  text-align: center;
}
.header-banner-btn {
  margin-top: 32px;
  width: 330px;
  height: 69px;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  font-family:  'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 24px;
  font-weight: 700;
  background-color: #f8cd53;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 236px;
}
.header-banner .container div  {
  text-align: center;
}
.about-us {
  padding-top: 99px;
  padding-bottom: 139px;  
}
.section-title {
  font-family:  'Roboto', sans-serif;
  color:  #424242;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3px;
}
.section-description {
  font-family:  'Roboto', sans-serif;
  color:  #424242;
  font-size: 20px;
  text-align: center;
}
.section-description::after {
  content: '';
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 47px;
  height: 5px;
  background-color: #424242;
}
.services {
  margin-top: 46px;
  display: flex;
  justify-content: space-around;
}
.services-item {
display: flex;
flex-direction: column;
align-items: center;
width: 235px;
}
.services-item:first-child>img {
  position: relative;
  left: -2px;
}
.services-item:nth-child(2)>img {
  position: relative;
  left: 1px;
}
.services-item:last-child>img {
  width: 83px;
  height: 80px;
  position: relative;
  left: -5px;
  top: 6px;
}
.service-name {
  margin-top: 26px;
  font-family:  'Roboto', sans-serif;
  color:  #424242;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
  left: -6px;
}
.services-item:nth-child(2) .service-name {
  position: relative;
  left: -2px; 
}
.service-description {
  font-family:  'Roboto', sans-serif;
  color:  #5b5b5b;
  font-size: 13.5px;
  text-align: center;
  line-height: 22px;
}
.services-item:first-child .service-description {
  position: relative;
  left: -5px; 
}
.our-work {
  background-color:  #de2b24;
  padding-top: 107px;
  padding-bottom: 131px;
}
.our-work-color {
  color: #ffffff;
}
.section-description.our-work-color::after {
  background-color: #ffffff;
  margin-top: 15px;
}
.our-work-list {
  margin-top: 47px;
}
.our-work-list::after {
  content: '';
  clear: both;
  display: table;
}
.our-work-item-text {
  width: 255px;
  height: 253px;
  background-color:  #f35e59;
  /* vertical-align: middle; */
  text-align: center;
  float: left; 
}
.our-work-item-text {
  text-align: center;
 }
.our-work-item-img {
  width: 255px;
  height: 253px;
  float: left;
}
.airplane-img {
  background-image: url('../Images/airplane.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 37px;
  display: inline-block;
  margin-top: 75px;
  position: relative;
  left: -3px;  
}
.our-work-item-text:nth-child(3) .airplane-img {
  position: relative;
  left: 1px;
}
.our-work-item-text:nth-child(6) .airplane-img {
  position: relative;
  left: -8px;
}
.project-name {
  font-family:  'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
}
.our-work-item-text:first-child .project-name {
position: relative;
left: -4px;
}
.our-work-item-text:nth-child(6) .project-name {
  position: relative;
  left: -1px;
}
.our-work-item-text:last-child .project-name {
  position: relative;
  left: 3px;
  top: -1px;
}
.our-work-item-text:last-child .airplane-img {
  position: relative;
  left: -5px;
  top: -1px;
}
.project-description {
  font-family:  'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 2px;
}
.our-work-item-text:first-child .project-description {
  position: relative;
  left: -4px;
  }
.our-work-item-text:nth-child(6) .project-description {
  position: relative;
  left: -1px;
}  
.our-work-item-text:last-child .project-description {
  position: relative;
  left: 3px;
  }
.footer {
  background-color: #2a2a2a;
  padding-top: 88px;
  text-align: center;
  padding-bottom: 84px;
}
.footer-title {
  font-family:  'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: -6px;
}
.sprite-container {
  margin-top: 25px;
  text-align: center;
}
.sprite-item {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;  
  border-radius: 2px;
  border: 2px solid #515151;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.sprite-item:hover {
border-color:  #de2b24;
transition: 0.4s;
}
.sprite-item-facebook {
  background-position: 5px;
  background-image: url('../Images/sprites.png');
}
.sprite-item-telegr {
  background-position: -81px 2px;
  background-image: url('../Images/sprites.png');
}
.sprite-item-google {
  background-position: -38px;
  background-image: url('../Images/sprites.png');
}
.sprite-item-inst {
  background-position: -126px;
  background-image: url('../Images/sprites.png');
}
.footer-description {
  font-family:  'Roboto', sans-serif;
  color:  #cecece;
  font-size: 14px;
  margin-top: 34px;
  text-align: center;
}
.email {
  font-family:  'Roboto', sans-serif;
  color:  #cecece;
  font-size: 14px;
  margin-top: 31px;
  width: 683px;
  height: 54px;
  border-radius: 1px;
  background-color:  #515151;
  outline: 0;
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  left: -1px;
  top: -1px;
}
.email::-webkit-input-placeholder {
  color: #cecece;
}
.subscribe {
  display: flex;
  width: 153px;
  height: 53px;
  border-radius: 2px;
  border: 2px  solid  #515151;
  color:  #ffffff;
  font-family:  'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  cursor: pointer;  
}
.copy-rights-bg {
  background-color:  #515151;
}
.copy-rights {
  font-family:  'Roboto', sans-serif;
  color:  #cecece;
  font-size: 14px;
  text-align: center;
  height: 67px;
  line-height: 67px;
}
.copy-rights-text {
  position: relative;
  left: -11px;
}