/* Mobile-first */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(63, 64, 67);
  width: 100%;
  height: 37px;
  align-items: center;
}
.navbar-big-screen {
  display: none;
}
.navbar-title {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding-left: 19px;
}
.navbar-menu-icon {
  background-color: rgb(26, 32, 37);
  width: 41px;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.navbar-menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 17px;
  background: #fff;
  transform: rotate(0deg);
  left: 12px;
  transition: .15s ease-in-out;
}
.navbar-menu-icon span:nth-child(1) {
  top: 12px;
}
.navbar-menu-icon span:nth-child(2), .navbar-menu-icon span:nth-child(3) {
  top: 17px;
}
.navbar-menu-icon span:nth-child(4) {
  top: 22px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  width: 182px;
  height: 165px;
  background-color: rgb(250, 250, 250);
  right: 0;
  top: 37px;
}
.navbar.menu-state-open .navbar-menu-icon span:nth-child(1) {
  height: 0;
}
.navbar.menu-state-open .navbar-menu-icon span:nth-child(2) {
  transform: rotate(45deg);
}
.navbar.menu-state-open .navbar-menu-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar.menu-state-open .navbar-menu-icon span:nth-child(4) {
  height: 0;
}
.navbar.menu-state-open .dropdown-menu {
  display: block;  
}
.dropdown-menu li {
  border-bottom:  1px solid #e9e9e9;   
}
.dropdown-menu-link {
  font-family: 'Lato', sans-serif;
  color:  #444444;
  font-size: 12px;
  padding-left: 12px;
  height: 31px;
  line-height: 31px;
}
.dropdown-menu li:hover {
  background-color: #f5f5f5; 
}
.header {
  background-image: url(../Images-320/header-bg-320.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 19px;
  padding-bottom: 94px;
  padding-left: 20px;
  margin-bottom: 4px;
}
.header-title1, .header-title2 {
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}
.header-title-sitename {
  font-family: 'Lato', sans-serif;
  color:  #a6d6e0;
  font-size: 14px;
  font-weight: 700;
  text-transform: lowercase;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
 .service-item {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 1px;
 }
 .service-bg {
  width: 100%;
  height: 75px;  
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;  
 }
 .service-bg-delivery {
  background-image: url(../Images-320/delivery-bg-320.jpg);
 }
 .service-bg-salads {
  background-image: url(../Images-320/salads-bg-320.jpg);
 }
 .service-bg-desserts {
  background-image: url(../Images-320/desserts-bg-320.jpg);
 } 
 .service-bg-title {
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 700;
}
 .service-btn {
  flex-basis: 71px;
  flex-shrink: 0;
  height: 75px;
  background-image: url(../Images-320/btn-img-320.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 10px;
}
.header-menu-title {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color:  #3f4043;
  font-size: 20px;
  margin-bottom: 4px;
}
.header-menu-description {
  font-family: 'Lato', sans-serif;
  color:  #cbcdce;
  font-size: 10px;
}
.header-menu-logo {
  display: none;
}
.price-list {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex-basis: 100%;
  flex-shrink: 0;
}
.column-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 12px;
} 
.column1-title {  
  color:  #acd9ad;
  font-size: 20px;
  background-color: rgb(61, 62, 65);  
  padding: 12px 0 12px 19px;
}
.column2-title {
  color:   #ffffff;
  font-size: 20px;
  background-color: rgb(172, 217, 173);
  padding: 12px 0 12px 19px;  
}
.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  margin-bottom: 17px;
}
.menu-section-title {
  font-family: 'Lato', sans-serif;  
  color:  #3f4043;
  font-size: 15px;
  text-transform: uppercase;
}
.menu-section-img {  
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-section1-bg {
  background-image: url(..//Images-320/layer1-320.png);
  width: 25px;
  height: 25px;
}
.menu-section2-bg {
  background-image: url(..//Images-320/layer2-320.png);
  width: 15px;
  height: 26px;
}
.menu-section3-bg {
  background-image: url(..//Images-320/layer3-320.png);
  width: 30px;
  height: 21px;
}
.menu-section4-bg {
  background-image: url(..//Images-320/layer4-320.png);
  width: 22px;
  height: 21px;
}
.menu-list {
  padding-left: 20px;
  padding-right: 20px;
}
.menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-name {
  flex-basis: 80%;
  font-family: 'Lato', sans-serif; 
  color:  #3f4043;
  font-size: 14px;
}
.menu-price {
  flex-basis: 20%;
  text-align: right;
  font-family: 'Lato', sans-serif; 
  color:  #3f4043;
  font-size: 14px;
  font-weight: 700;
}
.menu-description {
  font-family: 'Lato', sans-serif; 
  color:  #3f4043;
  font-size: 9px;
  margin-top: 9px;
  margin-bottom: 10px;
}
.footer {
  background-color: rgb(172, 217, 173);
  margin-top: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer-slogan {
  font-family: 'Montserrat', sans-serif; 
  color:  #ffffff;
  font-size: 12px;
  text-align: center;
}
.footer-slogan:first-child {
  margin-bottom: 7px;
}
.footer-big-screen{
  display: none;
}
/* For screen min 640px: */
@media screen and (min-width: 640px) {
  .navbar {
    height: 74px;
  }
  .navbar-title {
    font-size: 24px;
    padding-left: 38px;
  }
  .navbar-menu-icon {
    width: 82px;
  }
  .navbar-menu-icon span {
    height: 4px;
    width: 36px;
    left: 23px;
  }
  .navbar-menu-icon span:nth-child(1) {
    top: 26px;
  }
  .navbar-menu-icon span:nth-child(2), .navbar-menu-icon span:nth-child(3) {
    top: 35px;
  }
  .navbar-menu-icon span:nth-child(4) {
    top: 44px;
  }
  .header {
    background-image: url(../Images-640/header-bg-640.jpg);
    padding-top: 30px;
    padding-bottom: 197px;
    padding-left: 38px;
    margin-bottom: 5px;
  }
  .header-title1 {
    margin-bottom: 9px;
    font-size: 36px;
  }
  .header-title2 {
    margin-bottom: 22px;
    font-size: 36px;
  }
  .header-title-sitename {
    font-size: 24px;
  }    
  .service-bg {
    height: 150px;
  }
  .service-bg-delivery {
    background-image: url(../Images-640/delivery-bg-640.jpg);
  }
  .service-bg-salads {
    background-image: url(../Images-640/salads-bg-640.jpg);
  }
  .service-bg-desserts {
    background-image: url(../Images-640/desserts-bg-640.jpg);
  }   
  .service-bg-title {
    font-size: 36px;
  }
  .service-btn {
    flex-basis: 142px;
    height: 150px;
    background-image: url(../Images-640/btn-img-640.jpg);
  }
  .section-menu {
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 20px;
  }
  .header-menu-title {
    font-size: 40px;
    margin-bottom: 9px;
  }
  .header-menu-description {
    font-size: 20px;
  }
  .column-title {
    margin-bottom: 23px;
  } 
  .column1-title, .column2-title{  
    font-size: 40px;
    padding: 23px 0 23px 38px;
  }
   .menu-list {
    padding-left: 38px;
    padding-right: 38px;
  }
  .menu-section {
    margin-bottom: 36px;
    height: 48px; 
  }
  .menu-section-title {
    font-size: 30px;
  }
  .menu-section1-bg {
    background-image: url(..//Images-640/layer1-640.png);
    width: 49px;
    height: 48px;
  }
  .menu-section2-bg {
    background-image: url(..//Images-640/layer2-640.png);
    width: 27px;
    height: 48px;
  }
  .menu-section3-bg {
    background-image: url(..//Images-640/layer3-640.png);
    width: 61px;
    height: 42px;
  }
  .menu-section4-bg {
    background-image: url(..//Images-640/layer4-640.png);
    width: 43px;
    height: 42px;
  } 
  .menu-name, .menu-price {
    font-size: 27px;
  }
  .menu-description {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 21px;
  }
  .footer {
    margin-top: 96px;
    padding-top: 28px;
    padding-bottom: 23px;
  }
  .footer-slogan {
    font-size: 18px;
  }
  .footer-slogan:first-child {
    margin-bottom: 10px;
  }
  .dropdown-menu {
    width: 243px;
    height: 214px;
    top: 74px;
  }
  .dropdown-menu-link {
    font-size: 14px;
    padding-left: 27px;
    height: 41px;
    line-height: 41px;
  }
 }/* END @media min-width: 640px */

/* For screen min 980px: */
@media screen and (min-width: 980px) {
  .navbar {
    display: none;
  }
  .navbar-big-screen {
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 64, 67);
    width: 100%;
    align-items: center;
    height: 97px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .navbar-menu-big li {
    display: inline-block;
  }
  .navbar-menu-link {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 15px;
    padding-left: 31px;
    text-transform: uppercase;
  } 
  .navbar-logo {
    background-image: url(..//Images-980/navbar-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 104px;
    height: 83px;
  }
  .header {
    background-image: url(../Images-980/header-bg-980.jpg);
    padding-top: 64px;
    padding-bottom: 260px;
    padding-left: 30px;
    margin-bottom: 6px;
  }
  .service-item {
    flex-basis: 33.3%;
    /* margin-bottom: 1px; */
  }
  .service-bg {  
    height: 327px;
  }
  .service-bg-delivery {
    background-image: url(../Images-980/delivery-bg-980.jpg);
  }
  .service-bg-salads {
    background-image: url(../Images-980/salads-bg-980.jpg);
  }
  .service-bg-desserts {
    background-image: url(../Images-980/desserts-bg-980.jpg);
  }
  .service-bg-title {
    font-size: 38px;
  } 
  .header-title1 {
    margin-bottom: 15px;
    font-size: 54px;
  }
  .header-title2 {
    margin-bottom: 22px;
    font-size: 54px;
  }
  .header-title-sitename {
    font-size: 34px;
  }
  .service-btn {
    display: none;
  }
  .header-menu {
    margin-left: 64px;
    margin-right: 69px;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 21px;
  }
  .header-menu-title {
    font-size: 40px;
    margin-bottom: 9px;
  }
  .header-menu-description {
    font-size: 20px;
  }
  .header-menu-logo {
    display: block;
    width: 109px;
    height: 89px;
    background-image: url(../Images-980/logo-980.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .column {
    flex-basis: 50%;
    flex-shrink: 0;
  }
  .column1-title, .column2-title{  
    font-size: 34px;
    padding: 27px 0 23px 18px;
  }
  .menu-list {
    padding-left: 41px;
    padding-right: 41px;
  }
  .menu-section {
    height: 47px; 
  }
  .menu-section-title {
    font-size: 25px;
  }
  .menu-name, .menu-price {
    font-size: 24px;
  } 
  .menu-description {
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 24px;
  }
  .footer {
    display: none;
  }
  .footer-big-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(172, 217, 173);
    padding: 7px 30px;
    margin-top: 60px;
  }
}/* End @media screen for min 980px: */

/* For screen min 1200px: */
@media screen and (min-width: 1200px) {
  .navbar {
    display: none;
  }
  .header {
    background-image: url(../Images-1200/header-bg-1200.jpg);
    padding-top: 58px;
    padding-bottom: 379px;
    padding-left: 37px;
  }
  .header-title1 {
    margin-bottom: 10px;
    font-size: 62px;
  }
  .header-title2 {
    margin-bottom: 53px;
    font-size: 62px;
  }
  .header-title-sitename {
    font-size: 38px;
  }
  .service-bg {  
    height: 400px;
  }
  .service-bg-delivery {
    background-image: url(../Images-1200/delivery-bg-1200.jpg);
  }
  .service-bg-salads {
    background-image: url(../Images-1200/salads-bg-1200.jpg);
  }
  .service-bg-desserts {
    background-image: url(../Images-1200/desserts-bg-1200.jpg);
  }
  .service-bg-title {
    font-size: 43px;
  }
  .header-menu {
    margin-left: 61px;
    margin-right: 30px;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 16px;
  } 
  .column1-title, .column2-title {
    font-size: 40px;
    padding: 23px 0 23px 17px;
  }  
  .menu-list {
    padding-left: 25px;
    padding-right: 25px;
  }
   .menu-section-title {
    font-size: 30px;
  }
  .menu-name, .menu-price {
    font-size: 27px;
  } 
  .menu-description {
    font-size: 18px;
  }
  .footer-big-screen {
    margin-top: 106px;
  }
}/* End @media screen for min 1200px: */